apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-oidc-client-secret
  namespace: monitoring
spec:
  refreshInterval: 5m
  secretStoreRef:
    name: vault-cluster-secretstore
    kind: ClusterSecretStore
  target:
    name: grafana-oidc-client-secret
    creationPolicy: Orphan
    deletionPolicy: Retain
  data:
    - secretKey: client-secret-plaintext
      remoteRef:
        key: authelia/grafana-oidc
        property: client-secret-plaintext
