apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: authelia-homelab-local
  namespace: authelia
spec:
  secretName: authelia-homelab-local-tls
  issuerRef:
    name: vault-issuer
    kind: ClusterIssuer
  commonName: auth.${kubernetes_domain}
  dnsNames:
    - auth.${kubernetes_domain}
