apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: chat-homelab-local
  namespace: open-webui
spec:
  secretName: chat-homelab-local-tls
  issuerRef:
    name: vault-issuer
    kind: ClusterIssuer
  commonName: chat.${kubernetes_domain}
  dnsNames:
    - chat.${kubernetes_domain}
