apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: authelia-admin-password
  namespace: authelia
spec:
  refreshInterval: 5m
  secretStoreRef:
    name: vault-cluster-secretstore
    kind: ClusterSecretStore
  target:
    name: authelia-admin-password
    creationPolicy: Orphan
    deletionPolicy: Retain
  data:
    - secretKey: hash
      remoteRef:
        key: authelia/admin-password
        property: hash
