apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
%{ for name in bucket_names ~}
  - ./buckets/${name}
%{ endfor ~}
  - ./cluster.yaml
  - ./admin-token.yaml
  - ./admin-key.yaml
